/*  To Do: Variable grid? How to get the project grid to stretch to fill space
    as window changes size and keep sidebar from getting too long and project/
    announcements/trending to fill the page area? */

:root {
    --main-color: #437ae0;
    --bg-color: #b9bec4;
    --secondary-color: #f8fafc;
    --tertiary-color: orange;
}
* {
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dashboard-page {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
.sidebar {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    grid-area:1/1/3/2;
    display: grid;
    gap: 16px;
    padding:12px;
    grid-template-rows: 1fr 4fr 4fr;
    
}
.side-items {
}
.side-item {
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
    gap:6px;
}
.si-text {
    justify-self: start;
}
#si-dashboard {
    font-size: 1.3rem;
    font-weight: bold;
}
.header {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* justify-content: center;
    align-content: center; */
    align-items: center;
}
.searchbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.userarea1 {
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
}
.userarea2 {
    display:grid;
    grid-template-columns: 1fr 2fr;
}
.content {
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--bg-color);
    box-shadow: 0px 10px 10px -10px #888888 inset;
}
.project-group {
    grid-area: 1/1/3/2;
    margin:16px;
}
.content-header {
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 6px;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    gap:16px;
}
.project {
    border-radius: 4px;
    /* border: 1px solid red; */
    background-color: var(--secondary-color);
    padding: 16px;
    border-left: 6px solid var(--tertiary-color);
    box-shadow: 3px 5px 5px #888888;
}
.project-title {
    font-size:1rem;
    font-weight: bold;
}
.project-description {
    font-size: .9rem;
    /* padding-bottom: 12px; */
    padding-bottom: 24px;
    
}
.project-buttons {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    gap: 6px;
    /* grid-template-columns: 50px 50px 50px; */
    justify-content: end;
    
}
.favorite, .watch, .connect {
    /* transform: scale(.6); */
    height:24px;
}
.announcement-group {
    margin: 16px 16px 16px 0px;
}
.announcements {
    display:grid;
    border-radius: 4px;
    /* border: 1px solid red; */
    background-color: var(--secondary-color);
    padding: 16px;
    box-shadow: 3px 5px 5px #888888;
}
.announcement {
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 1px solid #888888;
}
#last-announcement {
    border-bottom: none;
}
.announcement-header {
    font-weight: bold;
    font-size: .9rem;
}
.announcement-text {
    font-size: .8rem;
    
}
.trending-group {
    margin: 16px 16px 16px 0px;
}
.trendings {
    display:grid;
    border-radius: 4px;
    /* border: 1px solid red; */
    background-color: var(--secondary-color);
    padding: 16px;
    gap:16px;
    box-shadow: 3px 5px 5px #888888;
}
.trending {
    display:grid;
    grid-auto-flow: column;
    align-items: center;
    /* justify-items: center; */
}
.trending-name {
    font-weight: bold;
    font-size: .9rem;
    justify-self: left;
}
.trending-slogan {
    font-size: .8rem;
}